body {
    background-image: url("./img/sfondo-e-mail1.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
}

.myh1 {
    color: cornsilk;
    background-color: rgba(0, 0, 0, 0.463);
    position: relative;
}

.myh1 i {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 40px;
}

.mybtn {
    border: 1px solid black;
    background-color: #010104;
    color: #C3FFFF;
    padding: 5px 15px;
    border-radius: 50px;
    transition-duration: 0.5s;
}

.mybtn:hover {
    background-color: #C3FFFF;
    border: 1px solid #C3FFFF;
    color: #010104;
}

.myul {
    border-radius: 10px;
}

.myli {
    background-color: #010104;
    border: 0px;
    color: #C3FFFF;
}

.myli:hover {
    background-color: #C3FFFF;
    border: 0px;
    color: #010104; 
    cursor: pointer;
}